body {
    margin: 0;
    background: #19244D;
}

.container {
    display: flex;
    justify-content: space-around;

}

h3 {
    /* color: #F5F5F5;  */

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

.underhome {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;

}

.content {
    background: #080001;
    height: 120px;
    width: 155px;
    border-radius: 5px;

}

.show-numbers {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    color: #9AABD8;
}

.border {
    border: 1px solid #9AABD8;
    height: 42px;
    width: 155px;
    /* left: 82px;
    top: 274px; */
    border-radius: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    bottom: 360px;
    
}

.btn {
    background-color: #E75C70;
    padding-bottom: 10px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}